/* Other styles... */

/* Styles for star rating */
.rating-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px; /* Adjust as needed */
}

    .rating-container input {
        display: none;
    }

    .rating-container label {
        font-size: 2em;
        color: #ccc;
        cursor: pointer;
    }

    .rating-container input:checked ~ label {
        color: #ffc107; /* Change this color to your desired highlight color */
    }
