@{
    ViewData["Title"] = "Delete Event";
    //<input type="hidden" asp-for="CategoryID" />
}

<form asp-controller="Calendar" asp-action="DeleteEvent" method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>