@{
    ViewData["Title"] = ViewBag.Action + " Event";
    //<input type="hidden" asp-for="CategoryID" />
}

<form asp-action="Update" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group">
        <label>Title: </label>
        <input class="form-control" required="required">
    </div>
    <p></p>
    <div class="form-group">
        <label>Date: </label>
        <input type="date" id="Date" class="form-input" required="required"/>
    </div>
    <p></p>
    <div class="form-group">
        <label>Category: </label>
        <select class="form-control" id="Category" name="Category" required="required">
            <option>Select Category</option>
            <option>Assignmemnt</option>
            <option>Homework</option>
        </select>
    </div>
    <p></p>
    <div class="form-group">
        <label>Description: </label>
        <input class="form-control">
    </div>
    <p></p>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>