@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>Insert helpful tips here.</p>

<br />

<p>Hello and welcome tho Help page! In this page we will help guide you through this webiste, so you have a better understanding of what this website is about.</p>

<br />

<p>What does this website do?</p>

<p>The main function of this website is that it a to-do list which is use for marking certain events, meetings, tasks, and etc.</p>

<br />

<p>What function does each page cover for this website?</p>

<p>To start off let's talk about the main page which has two ways of getting to. When you are on the home page you will notice a navaigate bar above which will
    take you to different parts of the website. The To do and View will take you right back to the main page. The main function of the main page is that it will
    take you to add page. This in return will let you start up a new to-do list or let you add onto the to-do list. If you have a to-do list already started you
    will see it on the main page. 
    <br />
    Now let's talk about the add page in greater detail! As I said before this will be where you add stuff to your to-do list, but
    in order to do that you must fill out the four blankes area that will question you about what the task is. The four blankes are Title, Date, Category, and
    Description. To break this down for you Title is what you will called your task. Date will be when that task needs to be done. Category is what does it fall
    under in this selction we have chose. Finally the description is giving us a bit more detail about your task. These are the main fuctions of the add page,
    once you fill out the 4 blanks, you can then add that to the to-do list!
    <br />
    The help page is basically where we help you with the basic question that a person might have if they our having trouble navaigating the website.
    <br />
    Finally we have the import page. This page has only one function and that is if you are already putting your tasks on a google calender. You can basically 
    transfer over all those task from the google calender onto to this website. I feel the way we have made out this website is a lot cleaner and more organize
    then a google calender would be. 
</p>

<br/>

<p>Hopefully this has been quiet helpful! If any more questions will arise when this website is being used or being updated. We will make sure to update the help me
    page in order to help you out! Have lovely day!
</p>

