@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>


<p><b>Insert helpful tips here.</b></p>

<br />

<p>Hello and welcome tho Help page! In this page we will help guide you through this webiste, so you have a better understanding of what this website is about.</p>

<br />

<p><h4>What does this website do?</h4></p>

<p>The main function of this website is that it a to-do list which is use for marking certain events, meetings, tasks, and etc.</p>

<br />

<p><h5>What function does each page cover for this website?</h5></p>

<p>To start off let's talk about the main page which has two ways of getting to. When you are on the home page you will notice a navaigate bar above which will
    take you to different parts of the website. The To do and View will take you right back to the main page. The main function of the main page is that it will
    take you to add page. This in return will let you start up a new to-do list or let you add onto the to-do list. If you have a to-do list already started you
    will see it on the main page. 
    <br />
    Now let's talk about the add page in greater detail! As I said before this will be where you add stuff to your to-do list, but
    in order to do that you must fill out the four blankes area that will question you about what the task is. The four blankes are Title, Date, Category, and
    Description. To break this down for you Title is what you will called your task. Date will be when that task needs to be done. Category is what does it fall
    under in this selction we have chose. Finally the description is giving us a bit more detail about your task. These are the main fuctions of the add page,
    once you fill out the 4 blanks, you can then add that to the to-do list!
    <br />
    The help page is basically where we help you with the basic question that a person might have if they our having trouble navaigating the website.
    <br />
    Finally we have the import page. This page has only one function and that is if you are already putting your tasks on a google calender. You can basically 
    transfer over all those task from the google calender onto to this website. I feel the way we have made out this website is a lot cleaner and more organize
    then a google calender would be. 
</p>

<br/>
<br/>
<br />

<h2>How to use the import page?</h2>

<br/>

<p>Here is a simple tutorial on how to use the import page!!!</p>

<br />
<br />

<p><b>Step 1: First we need to be on the import page</b></p>

<br />

<img src="~/css/MyImages/FirstStep.png" alt="Your Image" />

<br/>
<br />
<br />
<br />

<p><b>Step 2: Here you will have the option of either clicking on a file or putting in the URL from the calendar</b></p>

<br />
<br />

<img src="~/css/MyImages/SecondStep.png" alt="Your Image" />

<br />
<br />

<p><b>Step 3: Go to your southeast tech Main Page, from there you can click on the "View Full Calendar"</b> </p>



<img src="~/css/MyImages/ThirdStep.png" alt="Your Image" />

<br />
<br />
<br />
<br />

<p><b>Step 4: You will then need to click "Manage Calendars", from there on the very bottom you will see text that will say "Manage My Calendar feed"</b></p>


<img src="~/css/MyImages/FourthStep.png" alt="Your Image" />

<br />
<br />
<br />
<br />

<p><b>Step 5: Next you will see a check box that will need to be click onto to show the URL, from there you can either make the URL into a file by copying and putting it in the nav bar which will convert to file or just copy the URL.</b></p>

<br />

<img src="~/css/MyImages/FifthStep.png" alt="Your Image" />

<br />
<br />
<br />
<br />

<p><b>Step 6: Now once you have your file or URL put into the website and click the Fetch File button.</b></p>


<img src="~/css/MyImages/SixthStep.png" alt="Your Image" />

<br />
<br />
<br />

<p><b>Step 7: Once done you should see all your tasks that need to be done. From here you can chose which tasks you like to put in the to-do list and if you like you can hit the button above that will toggle all your tasks!</b></p>

<br />

<img src="~/css/MyImages/SeventhStep.png" alt="Your Image" />

<br />
<br />
<br />
<br />
<br />

<P><b>Step 8: Now just hit the blue button that says "Add Select Events to Calendar" which should be in the bottom right hand of your screen. You did it! There should be a message just like this once done. If you didn't get this message go back to step 1 and try agian!</b></P>

<br />

<img src="~/css/MyImages/EightStep.png" alt="Your Image" />

<br />
<br />
<br/>
<br />

<p>Hopefully this has been quiet helpful! If any more questions will arise when this website is being used or being updated. We will make sure to update the help me
    page in order to help you out! Have lovely day!
</p>

<br />
<br />
<br />

<p><h3>Hey what would you rate this page?</h3></p>




