@*
   Quinton Nelson
   1/14/2024
   Import allows the user to import a calendar from their STC calendar file. 
   
   To view file upload logic go to fileUploadHandler.js
   To view file parsing logic go to parseICS.js
   To view logic for communicating between the server and client go to pushToServer.js and CalendarController.cs respectively
*@
@{
    ViewData["Title"] = "Import";
}

<div class="file-upload-container" id="drop_zone">
    @*File upload, drag and drop or select file from system*@
    <h1>Upload ICS File</h1>
    <input type="file" id="file_input" accept=".ics">
    <div id="dropArea">Drop file here!</div>

    <span class="fileUploadSep">OR</span>

    @*OR past the link here to avoid downloading the file*@
    <input type="text" id="ics_url" placeholder="Enter URL of the ICS file">
    <button class="btn btn-primary" onclick="fetchICSFromUrl()">Fetch File</button>

    @*Add javascript files used just for this page*@
    <script src="~/js/fileUploadHandler.js"></script>
    <script src="~/js/parseICS.js"></script>
    <script src="~/js/event.js"></script>
    <script src="~/js/pushToServer.js"></script>
</div>

<div class="row" id="eventsDisplay">
</div>

<div class="submitContainer"></div>